.header{
	height:100px;
	min-height:80px ;
	background-color: red;


}

.warpper{
	overflow: hidden;
}
.contact{
	min-height:150px ;
	background-color: green;
	width: 60%;
	float: left;

}
.blog{
	min-height:150px ;
	background-color:blue;
	width: 40%;
	float: right;

}


.container{
	overflow: hidden;
}
.single{
	min-height:80px ;
	background-color: red;
	width:32.1%;
	border:100px solid 	cyan;
	float: left;

}

.pink{
	background-color: pink;

}

.blue{
	background-color:  blue;

}

.green{

	background-color: lime;

}

.black{
	background-color: cayn;

}


.footer{
	min-height:80px ;
	background-color:black;
	/*clear: both;*/

}

